html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'COCOGOOSE';
  src:
    url('../assets/fonts/COCOGOOSE.ttf.woff') format('woff'),
    url('../assets/fonts/COCOGOOSE.ttf.svg#COCOGOOSE') format('svg'),
    url('../assets/fonts/COCOGOOSE.ttf.eot'),
    url('../assets/fonts/COCOGOOSE.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

#navbar {
  padding: 16px;
  box-shadow: 0 1px 5px rgb(190, 190, 190);
}

.nav-logo {
  width: 88px;
}

h1 {
  background: url(../assets/jpg/bg-red.jpg) no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
  background-position: center -800px;
  font-family: 'COCOGOOSE', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  margin: 48px 0;
}

.hero {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('../assets/png/pattern2.png');
}

.pre-title {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}

.hero-text-container {
  background-color: rgba(255, 255, 255, 0.7);
  border: 6px solid white;
  padding: 16px;
}

.hero-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.container {
  max-width: 1280px;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-sect {
  margin: 24px 0;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
}

.contact-mail {
  text-decoration: underline;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6px;
}

.footer-container {
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding: 24px 0;
  margin: 36px 0;
}

.footer-logo {
  height: 58px;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.info-item {
  margin: 6px 0;
}

.past-tours {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-dark {
  font-weight: 600;
  font-size: 20px;
  margin: 24px 0;
}

.separator {
  height: 2px;
  width: 48px;
  background-color: #ec5242;
}

.image-over {
  max-width: 450px;
  width: 100%;
  position: relative;
  margin-top: 36px;
}

.last-tour {
  background: url('../assets/jpg/last-tour.jpg') 0 0 no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 450px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  color: #fff;
}

.color-overlay {
  max-width: 450px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(236, 82, 66, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 800;
  color: white;
  line-height: 48px;
  text-align: center;
}

#footer {
  margin-top: 128px;
  background-color: white; 
}

.footer-content {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .hero-text-container {
    width: 50%;
    align-self: flex-start;
    margin-bottom: 128px;
  }

  h1 {
    align-self: flex-start;
  }
}
