html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'COCOGOOSE';
  src:
    url('../assets/fonts/COCOGOOSE.ttf.woff') format('woff'),
    url('../assets/fonts/COCOGOOSE.ttf.svg#COCOGOOSE') format('svg'),
    url('../assets/fonts/COCOGOOSE.ttf.eot'),
    url('../assets/fonts/COCOGOOSE.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
